body {
  background-color: #001f3f;
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
}

.nanbar{
    background-color: #00152b !important;
    border-bottom: 3px solid #007bff;
}

.nanbar-brand, .nav-link{
    color: #007bff !important;
    font-weight: bold;
}

.nav-link.active {
    color: #ffffff !important;
    text-decoration: underline;
}

form#videoForm {
    background-color: #002b56;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007bff;
}

.form-control {
    background-color: #001f3f;
    color: #ffffff;
    border:1px solid #007bff;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    font-weight: bold;
    width: 100%;
}

.btn-success {
    background-color: #28a745;
    border: none;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid #007bff;
    margin-top: 40px;
}